In [42]:
import pandas as pd
import numpy as np

In [61]:
log_data = pd.read_csv('/Users/RICARD/Downloads/log_fw_4.csv', sep=';', header=None)

In [62]:
log_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17674091 entries, 0 to 17674090
Data columns (total 11 columns):
 #   Column  Dtype
---  ------  -----
 0   0       object
 1   1       object
 2   2       object
 3   3       object
 4   4       float64
 5   5       float64
 6   6       float64
 7   7       object
 8   8       object
 9   9       float64
 10  10      float64
dtypes: float64(5), object(6)
memory usage: 1.4+ GB

In [63]:
log_data.head()

,0,1,2,3,4,5,6,7,8,9,10
0,2022-02-23 09:30:55,89.248.165.121,17.17.17.17,TCP,50242.0,25918.0,999.0,DENY,eth0,NaN,6.0
1,2022-02-23 09:30:57,159.223.115.197,17.17.17.17,TCP,47162.0,24474.0,999.0,DENY,eth0,NaN,6.0
2,2022-02-23 09:31:03,89.248.165.121,17.17.17.17,TCP,50242.0,23937.0,999.0,DENY,eth0,NaN,6.0
3,2022-02-23 09:31:09,91.240.118.73,17.17.17.17,TCP,41839.0,1996.0,999.0,DENY,eth0,NaN,6.0
4,2022-02-23 09:31:12,51.222.253.20,17.17.17.17,TCP,46712.0,443.0,1.0,PERMIT,eth0,NaN,6.0

In [64]:
log_data[3].value_counts()

TCP    17673790
Name: 3, dtype: int64

In [65]:
def to_datetime(x):
    return pd.to_datetime(x, format='%Y-%m-%d %H:%M:%S.%f')

def prepare_log_data(log_data):
    log_data.columns = ['timestamp', 'IPsrc', 'IPdst', 'proto', 'portsrc', 'portdst', 'rule','action','7', '8','9']
    log_data.timestamp = to_datetime(log_data.timestamp)
    log_data.portdst = log_data.portdst.astype('object')
    return log_data

In [66]:
data = prepare_log_data(log_data)

In [67]:
data.pop('8')

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
            ..
17674086   NaN
17674087   NaN
17674088   NaN
17674089   NaN
17674090   NaN
Name: 8, Length: 17674091, dtype: float64

In [68]:
data.head(10)

,timestamp,IPsrc,IPdst,proto,portsrc,portdst,rule,action,7,9
0,2022-02-23 09:30:55,89.248.165.121,17.17.17.17,TCP,50242.0,25918.0,999.0,DENY,eth0,6.0
1,2022-02-23 09:30:57,159.223.115.197,17.17.17.17,TCP,47162.0,24474.0,999.0,DENY,eth0,6.0
2,2022-02-23 09:31:03,89.248.165.121,17.17.17.17,TCP,50242.0,23937.0,999.0,DENY,eth0,6.0
3,2022-02-23 09:31:09,91.240.118.73,17.17.17.17,TCP,41839.0,1996.0,999.0,DENY,eth0,6.0
4,2022-02-23 09:31:12,51.222.253.20,17.17.17.17,TCP,46712.0,443.0,1.0,PERMIT,eth0,6.0
5,2022-02-23 09:31:38,89.248.165.121,17.17.17.17,TCP,50242.0,18383.0,999.0,DENY,eth0,6.0
6,2022-02-23 09:31:47,89.248.165.121,17.17.17.17,TCP,50242.0,19409.0,999.0,DENY,eth0,6.0
7,2022-02-23 09:31:54,193.3.53.11,17.17.17.17,TCP,52274.0,2001.0,999.0,DENY,eth0,6.0
8,2022-02-23 09:31:55,112.85.42.15,17.17.17.17,TCP,39666.0,22.0,4.0,PERMIT,eth0,6.0
9,2022-02-23 09:31:55,112.85.42.15,17.17.17.17,TCP,39666.0,22.0,8.0,PERMIT,eth0,6.0

In [69]:
data.portsrc = data.portsrc.astype('object')

In [70]:
data.dtypes

timestamp    datetime64[ns]
IPsrc                object
IPdst                object
proto                object
portsrc              object
portdst              object
rule                float64
action               object
7                    object
9                   float64
dtype: object

In [71]:
data.dropna(inplace=True)

In [72]:
data.head()

,timestamp,IPsrc,IPdst,proto,portsrc,portdst,rule,action,7,9
0,2022-02-23 09:30:55,89.248.165.121,17.17.17.17,TCP,50242.0,25918.0,999.0,DENY,eth0,6.0
1,2022-02-23 09:30:57,159.223.115.197,17.17.17.17,TCP,47162.0,24474.0,999.0,DENY,eth0,6.0
2,2022-02-23 09:31:03,89.248.165.121,17.17.17.17,TCP,50242.0,23937.0,999.0,DENY,eth0,6.0
3,2022-02-23 09:31:09,91.240.118.73,17.17.17.17,TCP,41839.0,1996.0,999.0,DENY,eth0,6.0
4,2022-02-23 09:31:12,51.222.253.20,17.17.17.17,TCP,46712.0,443.0,1.0,PERMIT,eth0,6.0

In [73]:
# get IPsrc, IPdst, portsrc, portdst, action, rule, 9 into a new dataframe
X = data[['portsrc', 'portdst', 'rule', '9']]
print(X.head())

print('\n')
y = data['action']
print(y.value_counts(normalize=True))

   portsrc  portdst   rule    9
0  50242.0  25918.0  999.0  6.0
1  47162.0  24474.0  999.0  6.0
2  50242.0  23937.0  999.0  6.0
3  41839.0   1996.0  999.0  6.0
4  46712.0    443.0    1.0  6.0


PERMIT    0.8469
DENY      0.1531
Name: action, dtype: float64

In [74]:
X.isna().sum()

portsrc    0
portdst    0
rule       0
9          0
dtype: int64

In [75]:
# Train test split
from sklearn.model_selection import train_test_split

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [76]:
X_train.shape, X_test.shape

((14139032, 4), (3534758, 4))

In [77]:
y_train.value_counts(normalize=True), y_test.value_counts(normalize=True)

(PERMIT    0.846902
 DENY      0.153098
 Name: action, dtype: float64,
 PERMIT    0.846896
 DENY      0.153104
 Name: action, dtype: float64)

In [31]:
from sklearn.ensemble import RandomForestClassifier

rf0 = RandomForestClassifier(n_estimators=100, random_state=0)

In [78]:
rf0.fit(X_train, y_train)

In [ ]:
# Random Forest Classifier with GridSearchCV 
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

# Create the parameter grid based on the results of random search
param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

# Create a based model
rf = RandomForestClassifier()

# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid,
                            cv = 3, n_jobs = -1, verbose = 2)

grid_search.fit(X_train, y_train)